mod/ibp/data/input-xsd/IVB-Akte-A-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:vplan="http://inno-vplan-transfer.de/ivb-akte.xsd" xmlns="http://inno-vplan-transfer.de/ivb-akte.xsd"
	targetNamespace="http://inno-vplan-transfer.de/ivb-akte.xsd"
	elementFormDefault="qualified" attributeFormDefault="qualified">
	<xsd:element name="Anliegen" vplan:ot="OT:00000169">
		<xsd:annotation>
			<xsd:documentation>OT: Anliegen [OT:00000169]</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Nachrichten" minOccurs="0" maxOccurs="1"
					vplan:oti="">
					<xsd:annotation>
						<xsd:documentation>OTI: Nachrichten [?VPlanId?] (OV) Nachricht
							[OT:00000171]
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Nachricht" minOccurs="0"
								maxOccurs="unbounded" vplan:ot="OT:00000171">
								<xsd:annotation>
									<xsd:documentation>OT: Nachricht [OT:00000171]
									</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="IVB-ID" minOccurs="0"
											maxOccurs="1" vplan:oti="">
											<xsd:annotation>
												<xsd:documentation>
													OTI: IVB-ID [?VPlanId?]
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Nachrichtentext" minOccurs="0"
											maxOccurs="1" vplan:oti="">
											<xsd:annotation>
												<xsd:documentation>
													OTI: Nachrichtentext [?VPlanId?]
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Nachrichtentext_Datei"
											minOccurs="0" maxOccurs="1" vplan:oti="">
											<xsd:annotation>
												<xsd:documentation>
													OTI: Nachrichtentext Datei [?VPlanId?]
													(OV) Datei [OT:00000078]
												</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Datei" minOccurs="0"
														maxOccurs="unbounded" vplan:ot="OT:00000078">
														<xsd:annotation>
															<xsd:documentation>
																OT: Datei [OT:00000078]
															</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Datei_Inhalt" minOccurs="0"
																	maxOccurs="1" vplan:oti="">
																	<xsd:annotation>
																		<xsd:documentation>
																			OTI: Datei
																			Inhalt
																			[?VPlanId?]
																		</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
																<xsd:element name="Datei_Typ" minOccurs="0"
																	maxOccurs="1" vplan:oti="">
																	<xsd:annotation>
																		<xsd:documentation>
																			OTI: Datei Typ
																			[?VPlanId?]
																		</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
																<xsd:element name="Datei_Encoding"
																	minOccurs="0" maxOccurs="1" vplan:oti="">
																	<xsd:annotation>
																		<xsd:documentation>
																			OTI: Datei
																			Encoding
																			[?VPlanId?]
																		</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="sendender_Softwaretyp"
											minOccurs="0" maxOccurs="1" vplan:oti="">
											<xsd:annotation>
												<xsd:documentation>OTI: sendender Softwaretyp [?VPlanId?]
													(OV) VPlan-Softwarekomponententyp [OT:00000022]
												</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="VPlan-Softwarekomponententyp"
														minOccurs="0" maxOccurs="unbounded" vplan:ot="OT:00000022">
														<xsd:annotation>
															<xsd:documentation>OT: VPlan-Softwarekomponententyp
																[OT:00000022]
															</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="VPlan-ID" minOccurs="0"
																	maxOccurs="1" vplan:oti="OTI:00000168">
																	<xsd:annotation>
																		<xsd:documentation>OTI: VPlan-ID [OTI:00000168]
																		</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Nachrichtenszenarium"
											minOccurs="0" maxOccurs="1" vplan:oti="">
											<xsd:annotation>
												<xsd:documentation>OTI: Nachrichtenszenarium [?VPlanId?]
													(OV) VPlan-Anwendung [?VPlanId?]
												</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="VPlan-Anwendung" minOccurs="0"
														maxOccurs="unbounded" vplan:ot="">
														<xsd:annotation>
															<xsd:documentation>OT: VPlan-Anwendung [?VPlanId?]
															</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="VPlan-ID" minOccurs="0"
																	maxOccurs="1" vplan:oti="">
																	<xsd:annotation>
																		<xsd:documentation>OTI: VPlan-ID [?VPlanId?]
																		</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="gesendeter_Nachrichtentyp"
											minOccurs="0" maxOccurs="1" vplan:oti="">
											<xsd:annotation>
												<xsd:documentation>OTI: gesendeter Nachrichtentyp
													[?VPlanId?] (OV) VPlan-Nachricht [?VPlanId?]
												</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="VPlan-Nachricht" minOccurs="0"
														maxOccurs="unbounded" vplan:ot="">
														<xsd:annotation>
															<xsd:documentation>OT: VPlan-Nachricht [?VPlanId?]
															</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="VPlan-ID" minOccurs="0"
																	maxOccurs="1" vplan:oti="">
																	<xsd:annotation>
																		<xsd:documentation>OTI: VPlan-ID [?VPlanId?]
																		</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
																<xsd:element name="Unternachrichten"
																	minOccurs="0" maxOccurs="1" vplan:oti="">
																	<xsd:annotation>
																		<xsd:documentation>OTI: Unternachrichten [?VPlanId?]
																			(OV) VPlan-Nachricht [?VPlanId?]
																		</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="VPlan-Nachricht"
																				minOccurs="0" maxOccurs="unbounded" vplan:ot="">
																				<xsd:annotation>
																					<xsd:documentation>OT: VPlan-Nachricht [?VPlanId?]
																					</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="VPlan-ID"
																							minOccurs="0" maxOccurs="1" vplan:oti="">
																							<xsd:annotation>
																								<xsd:documentation>OTI: VPlan-ID [?VPlanId?]
																								</xsd:documentation>
																							</xsd:annotation>
																						</xsd:element>
																						<xsd:element name="Containerpfad"
																							minOccurs="0" maxOccurs="1" vplan:oti="">
																							<xsd:annotation>
																								<xsd:documentation>OTI: Containerpfad
																									[?VPlanId?]
																								</xsd:documentation>
																							</xsd:annotation>
																						</xsd:element>
																						<xsd:element name="Containerpfad_Index"
																							minOccurs="0" maxOccurs="1" vplan:oti="">
																							<xsd:annotation>
																								<xsd:documentation>OTI: Containerpfad Index
																									[?VPlanId?]
																								</xsd:documentation>
																							</xsd:annotation>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="sendende_Software" minOccurs="0"
											maxOccurs="1" vplan:oti="">
											<xsd:annotation>
												<xsd:documentation>OTI: sendende Software [?VPlanId?] (OV)
													Softwareinstallation [?VPlanId?]
												</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Softwareinstallation"
														minOccurs="0" maxOccurs="unbounded" vplan:ot="">
														<xsd:annotation>
															<xsd:documentation>OT: Softwareinstallation [?VPlanId?]
															</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="IVB-ID" minOccurs="0"
																	maxOccurs="1" vplan:oti="">
																	<xsd:annotation>
																		<xsd:documentation>OTI: IVB-ID [?VPlanId?]
																		</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="integrierende_Organisation"
											minOccurs="0" maxOccurs="1" vplan:oti="">
											<xsd:annotation>
												<xsd:documentation>OTI: integrierende Organisation
													[?VPlanId?] (OV) Beteiligter [OT:00000172]
												</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Beteiligter" minOccurs="0"
														maxOccurs="unbounded" vplan:ot="OT:00000172">
														<xsd:annotation>
															<xsd:documentation>OT: Beteiligter [OT:00000172]
															</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="IVB-ID" minOccurs="0"
																	maxOccurs="1" vplan:oti="">
																	<xsd:annotation>
																		<xsd:documentation>OTI: IVB-ID [?VPlanId?]
																		</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Vorgänge" minOccurs="0" maxOccurs="1"
					vplan:oti="">
					<xsd:annotation>
						<xsd:documentation>OTI: Vorgänge [?VPlanId?] (OV) Vorgang
							[OT:00000073]
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Vorgang" minOccurs="0" maxOccurs="unbounded"
								vplan:ot="OT:00000073">
								<xsd:annotation>
									<xsd:documentation>OT: Vorgang [OT:00000073]
									</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="IVB-ID" minOccurs="0"
											maxOccurs="1" vplan:oti="">
											<xsd:annotation>
												<xsd:documentation>OTI: IVB-ID [?VPlanId?]
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Beteiligte" minOccurs="0"
											maxOccurs="unbounded" vplan:oti="">
											<xsd:annotation>
												<xsd:documentation>OTI: Beteiligte [?VPlanId?] (OV) Akte
													[OT:00000168]
												</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Akte" minOccurs="0"
														maxOccurs="unbounded" vplan:ot="OT:00000168">
														<xsd:annotation>
															<xsd:documentation>OT: Akte [OT:00000168]
															</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Aktenzeichen" minOccurs="0"
																	maxOccurs="1" vplan:oti="">
																	<xsd:annotation>
																		<xsd:documentation>OTI: Aktenzeichen [?VPlanId?]
																		</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="V-Plan_Fachliche_Rollen"
														minOccurs="0" maxOccurs="unbounded" vplan:ot="">
														<xsd:annotation>
															<xsd:documentation>OT: V-Plan Fachliche Rollen
																[?VPlanId?]
															</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="VPlan_ID" minOccurs="0"
																	maxOccurs="1" vplan:oti="">
																	<xsd:annotation>
																		<xsd:documentation>OTI: VPlan ID [?VPlanId?]
																		</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="Beteiligter" minOccurs="0"
														maxOccurs="unbounded" vplan:ot="OT:00000172">
														<xsd:annotation>
															<xsd:documentation>OT: Beteiligter [OT:00000172]
															</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="IVB-ID" minOccurs="0"
																	maxOccurs="1" vplan:oti="">
																	<xsd:annotation>
																		<xsd:documentation>
																			OTI:
																			IVB-ID
																			[?VPlanId?]
																		</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
																<xsd:element name="Kontakte" maxOccurs="1"
																	minOccurs="0">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Kontakt" maxOccurs="unbounded"
																				minOccurs="0">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="E-Mail-Adressen"
																							maxOccurs="1" minOccurs="0">
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Bezeichnung" minOccurs="0"
											maxOccurs="1" vplan:oti="">
											<xsd:annotation>
												<xsd:documentation>OTI: Bezeichnung [?VPlanId?]
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="VPlan-Leistungen" minOccurs="0"
											maxOccurs="1" vplan:oti="OTI:00000626">
											<xsd:annotation>
												<xsd:documentation>OTI: VPlan-Leistungen [OTI:00000626] (OV)
													VPlan-Leistung [OT:00000011]
												</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="VPlan-Leistung" minOccurs="0"
														maxOccurs="unbounded" vplan:ot="OT:00000011">
														<xsd:annotation>
															<xsd:documentation>OT: VPlan-Leistung [OT:00000011]
															</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="VPlan-ID" minOccurs="0"
																	maxOccurs="1" vplan:oti="">
																	<xsd:annotation>
																		<xsd:documentation>OTI: VPlan-ID [?VPlanId?]
																		</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Dokumente" minOccurs="0"
											maxOccurs="1" vplan:oti="">
											<xsd:annotation>
												<xsd:documentation>OTI: Dokumente [?VPlanId?] (OV) Dokument
													[OT:00000077]
												</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Dokument" minOccurs="0"
														maxOccurs="unbounded" vplan:ot="OT:00000077">
														<xsd:annotation>
															<xsd:documentation>OT: Dokument [OT:00000077]
															</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="IVB-ID" minOccurs="0"
																	maxOccurs="1" vplan:oti="">
																	<xsd:annotation>
																		<xsd:documentation>OTI: IVB-ID [?VPlanId?]
																		</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
																<xsd:element name="Bezeichnung" minOccurs="0"
																	maxOccurs="1" vplan:oti="OTI:00000675">
																	<xsd:annotation>
																		<xsd:documentation>OTI: Bezeichnung [OTI:00000675]
																		</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
																<xsd:element name="VPlan-Dokumententypen"
																	minOccurs="0" maxOccurs="1" vplan:oti="OTI:00000674">
																	<xsd:annotation>
																		<xsd:documentation>OTI: VPlan-Dokumententypen
																			[OTI:00000674] (OV) VPlan-Dokumententyp [OT:00000016]
																		</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="VPlan-Dokumententyp"
																				minOccurs="0" maxOccurs="unbounded" vplan:ot="OT:00000016">
																				<xsd:annotation>
																					<xsd:documentation>OT: VPlan-Dokumententyp
																						[OT:00000016]
																					</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="VPlan-ID"
																							minOccurs="0" maxOccurs="1" vplan:oti="OTI:00000115">
																							<xsd:annotation>
																								<xsd:documentation>OTI: VPlan-ID [OTI:00000115]
																								</xsd:documentation>
																							</xsd:annotation>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="Dateien" minOccurs="0"
																	maxOccurs="1" vplan:oti="OTI:00000679">
																	<xsd:annotation>
																		<xsd:documentation>OTI: Dateien [OTI:00000679] (OV)
																			Datei [OT:00000078]
																		</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Datei" minOccurs="0"
																				maxOccurs="unbounded" vplan:ot="OT:00000078">
																				<xsd:annotation>
																					<xsd:documentation>OT: Datei [OT:00000078]
																					</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="IVB-ID" minOccurs="0"
																							maxOccurs="1" vplan:oti="">
																							<xsd:annotation>
																								<xsd:documentation>
																									OTI:
																									IVB-ID
																									[?VPlanId?]
																								</xsd:documentation>
																							</xsd:annotation>
																						</xsd:element>
																						<xsd:element name="Dokument_Index"
																							minOccurs="0" maxOccurs="1" vplan:oti="">
																							<xsd:annotation>
																								<xsd:documentation>
																									OTI:
																									Dokument
																									Index
																									[?VPlanId?]
																								</xsd:documentation>
																							</xsd:annotation>
																						</xsd:element>
																						<xsd:element name="Typ" minOccurs="0"
																							maxOccurs="1" vplan:oti="">
																							<xsd:annotation>
																								<xsd:documentation>
																									OTI:
																									Typ
																									[?VPlanId?]
																								</xsd:documentation>
																							</xsd:annotation>
																						</xsd:element>
																						<xsd:element name="Inhalt" minOccurs="0"
																							maxOccurs="1" vplan:oti="">
																							<xsd:annotation>
																								<xsd:documentation>
																									OTI:
																									Inhalt
																									[?VPlanId?]
																								</xsd:documentation>
																							</xsd:annotation>
																						</xsd:element>
																						<xsd:element name="Quelle_Dateiname"
																							minOccurs="0" maxOccurs="1" vplan:oti="">
																							<xsd:annotation>
																								<xsd:documentation>
																									OTI:
																									Quelle
																									Dateiname
																									[?VPlanId?]
																								</xsd:documentation>
																							</xsd:annotation>
																						</xsd:element>
																						<xsd:element name="Typ_Spezifikation"
																							minOccurs="0" maxOccurs="1" vplan:oti="">
																							<xsd:annotation>
																								<xsd:documentation>
																									OTI:
																									Typ
																									Spezifikation
																									[?VPlanId?]
																								</xsd:documentation>
																							</xsd:annotation>
																						</xsd:element>
																						<xsd:element name="Datei_Encoding"
																							maxOccurs="1" minOccurs="0">
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Termine" minOccurs="0"
											maxOccurs="1" vplan:oti="OTI:00000651">
											<xsd:annotation>
												<xsd:documentation>OTI: Termine [OTI:00000651] (OV) Termin
													[OT:00000076]
												</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Termin" minOccurs="0"
														maxOccurs="unbounded" vplan:ot="OT:00000076">
														<xsd:annotation>
															<xsd:documentation>OT: Termin [OT:00000076]
															</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Fristbeginn" minOccurs="0"
																	maxOccurs="1" vplan:oti="">
																	<xsd:annotation>
																		<xsd:documentation>OTI: Fristbeginn [?VPlanId?]
																		</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
																<xsd:element name="Fristende" minOccurs="0"
																	maxOccurs="1" vplan:oti="">
																	<xsd:annotation>
																		<xsd:documentation>OTI: Fristende [?VPlanId?]
																		</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Posteingangsdatum" minOccurs="0"
											maxOccurs="1" vplan:oti="">
											<xsd:annotation>
												<xsd:documentation>OTI: Posteingangsdatum [?VPlanId?]
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Unterschriftsdatum" minOccurs="0"
											maxOccurs="1" vplan:oti="">
											<xsd:annotation>
												<xsd:documentation>OTI: Unterschriftsdatum [?VPlanId?]
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Bearbeiungsstatus" minOccurs="0"
											maxOccurs="1" vplan:oti="OTI:00000638">
											<xsd:annotation>
												<xsd:documentation>OTI: Bearbeiungsstatus [OTI:00000638]
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Ergebnisstatus" minOccurs="0"
											maxOccurs="1" vplan:oti="OTI:00000639">
											<xsd:annotation>
												<xsd:documentation>OTI: Ergebnisstatus [OTI:00000639]
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Grund_für_Status" minOccurs="0"
											maxOccurs="1" vplan:oti="">
											<xsd:annotation>
												<xsd:documentation>OTI: Grund für Status [?VPlanId?]
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="MPlan" minOccurs="0" maxOccurs="1"
											vplan:oti="">
											<xsd:annotation>
												<xsd:documentation>OTI: MPlan [?VPlanId?] (OV) MPlan
													[OT:00000006]
												</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="MPlan" minOccurs="0"
														maxOccurs="unbounded" vplan:ot="OT:00000006">
														<xsd:annotation>
															<xsd:documentation>OT: MPlan [OT:00000006]
															</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="antragstellende_Person"
																	minOccurs="0" maxOccurs="1" vplan:oti="">
																	<xsd:annotation>
																		<xsd:documentation>OTI: antragstellende Person
																			[?VPlanId?] (OV) Person [OT:00000066]
																		</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Person" minOccurs="0"
																				maxOccurs="unbounded" vplan:ot="OT:00000066"
																				type="vplan:PersonType">
																				<xsd:annotation>
																					<xsd:documentation>OT: Person [OT:00000066]
																					</xsd:documentation>
																				</xsd:annotation>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="entgegennehmende_Organisation"
																	minOccurs="0" maxOccurs="1" vplan:oti="">
																	<xsd:annotation>
																		<xsd:documentation>OTI: entgegennehmende Organisation
																			[?VPlanId?] (OV) Organisation [OT:00000028]
																		</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Organisation"
																				minOccurs="0" maxOccurs="unbounded" vplan:ot="OT:00000028">
																				<xsd:annotation>
																					<xsd:documentation>OT: Organisation [OT:00000028]
																					</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="Gemeindename"
																							minOccurs="0" maxOccurs="1" vplan:oti="">
																							<xsd:annotation>
																								<xsd:documentation>OTI: Gemeindename [?VPlanId?]
																								</xsd:documentation>
																							</xsd:annotation>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="meldende_Betriebsstätte"
																	minOccurs="0" maxOccurs="1" vplan:oti="">
																	<xsd:annotation>
																		<xsd:documentation>OTI: meldende Betriebsstätte
																			[?VPlanId?] (OV) Betriebsstätte [OT:00000174]
																		</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Betriebsstätte"
																				minOccurs="0" maxOccurs="unbounded" vplan:ot="OT:00000174">
																				<xsd:annotation>
																					<xsd:documentation>OT: Betriebsstätte [OT:00000174]
																					</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="Amtlicher_Gemeindeschlüssel"
																							minOccurs="0" maxOccurs="1" vplan:oti="">
																							<xsd:annotation>
																								<xsd:documentation>OTI: Amtlicher
																									Gemeindeschlüssel [?VPlanId?]
																								</xsd:documentation>
																							</xsd:annotation>
																						</xsd:element>
																						<xsd:element name="IVB-ID" minOccurs="0"
																							maxOccurs="1" vplan:oti="">
																							<xsd:annotation>
																								<xsd:documentation>OTI: IVB-ID [?VPlanId?]
																								</xsd:documentation>
																							</xsd:annotation>
																						</xsd:element>
																						<xsd:element name="Postanschriften"
																							minOccurs="0" maxOccurs="1" vplan:oti="">
																							<xsd:annotation>
																								<xsd:documentation>OTI: Postanschriften
																									[?VPlanId?] (OV) Postanschrift [OT:00000065]
																								</xsd:documentation>
																							</xsd:annotation>
																							<xsd:complexType>
																								<xsd:sequence>
																									<xsd:element name="Postanschrift"
																										minOccurs="0" maxOccurs="unbounded" vplan:ot="OT:00000065">
																										<xsd:annotation>
																											<xsd:documentation>OT: Postanschrift
																												[OT:00000065]
																											</xsd:documentation>
																										</xsd:annotation>
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="Postadresse_Straßename"
																													minOccurs="0" maxOccurs="1" vplan:oti="">
																													<xsd:annotation>
																														<xsd:documentation>OTI: Postadresse
																															Straßename [?VPlanId?]
																														</xsd:documentation>
																													</xsd:annotation>
																												</xsd:element>
																												<xsd:element name="Postadresse_Hausnummer"
																													minOccurs="0" maxOccurs="1" vplan:oti="">
																													<xsd:annotation>
																														<xsd:documentation>OTI: Postadresse
																															Hausnummer [?VPlanId?]
																														</xsd:documentation>
																													</xsd:annotation>
																												</xsd:element>
																												<xsd:element name="Postadresse_Postleitzahl"
																													minOccurs="0" maxOccurs="1" vplan:oti="">
																													<xsd:annotation>
																														<xsd:documentation>OTI: Postadresse
																															Postleitzahl [?VPlanId?]
																														</xsd:documentation>
																													</xsd:annotation>
																												</xsd:element>
																												<xsd:element name="Postadresse_Ort"
																													minOccurs="0" maxOccurs="1" vplan:oti="">
																													<xsd:annotation>
																														<xsd:documentation>OTI: Postadresse Ort
																															[?VPlanId?]
																														</xsd:documentation>
																													</xsd:annotation>
																												</xsd:element>
																												<xsd:element
																													name="Postadresse_Staatenverzeichnis_ID"
																													minOccurs="0" maxOccurs="1" vplan:oti="">
																													<xsd:annotation>
																														<xsd:documentation>OTI: Postadresse
																															Staatenverzeichnis ID [?VPlanId?]
																														</xsd:documentation>
																													</xsd:annotation>
																												</xsd:element>
																												<xsd:element
																													name="Postadresse_Staatenverzeichnis_Verzeichnis_ID"
																													minOccurs="0" maxOccurs="1" vplan:oti="">
																													<xsd:annotation>
																														<xsd:documentation>OTI: Postadresse
																															Staatenverzeichnis Verzeichnis ID
																															[?VPlanId?]
																														</xsd:documentation>
																													</xsd:annotation>
																												</xsd:element>
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																								</xsd:sequence>
																							</xsd:complexType>
																						</xsd:element>
																						<xsd:element name="Kontakte"
																							minOccurs="0" maxOccurs="1" vplan:oti="">
																							<xsd:annotation>
																								<xsd:documentation>OTI: Kontakte [?VPlanId?]
																									(OV) Kontakt [OT:00000064]
																								</xsd:documentation>
																							</xsd:annotation>
																							<xsd:complexType>
																								<xsd:sequence>
																									<xsd:element
																										name="Kontakt" minOccurs="0"
																										maxOccurs="unbounded" vplan:ot="OT:00000064"
																										type="vplan:KontaktType">
																										<xsd:annotation>
																											<xsd:documentation>
																												OT:
																												Kontakt
																												[OT:00000064]
																											</xsd:documentation>
																										</xsd:annotation>

																									</xsd:element>
																								</xsd:sequence>
																							</xsd:complexType>
																						</xsd:element>
																						<xsd:element name="Ist_Handel"
																							minOccurs="0" maxOccurs="1">
																						</xsd:element>
																						<xsd:element name="Ist_Handwerk"
																							minOccurs="0" maxOccurs="1">
																						</xsd:element>
																						<xsd:element name="Ist_Industrie"
																							minOccurs="0" maxOccurs="1">
																						</xsd:element>
																						<xsd:element name="Ist_Sonstiges"
																							minOccurs="0" maxOccurs="1">
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="meldender_Gewerbebetrieb"
																	minOccurs="0" maxOccurs="1" vplan:oti="">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Gewerbebetrieb"
																						minOccurs="0" maxOccurs="unbounded" type="vplan:GewerbebetriebType">
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="meldender_beteiligter_Gewerbebetrieb"
																	minOccurs="0" maxOccurs="1" vplan:oti="">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Gewerbebetrieb"
																						minOccurs="0" maxOccurs="unbounded" type="vplan:GewerbebetriebType">
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="Betriebsleiter_Vertretungsberechtigter"
																	minOccurs="0" maxOccurs="1" vplan:oti="">
																	<xsd:annotation>
																		<xsd:documentation>OTI:
																			Betriebsleiter/Vertretungsberechtigter [?VPlanId?]
																			(OV) Person [OT:00000066]
																		</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element
																				name="Person" minOccurs="0" maxOccurs="unbounded"
																				vplan:ot="OT:00000066" type="vplan:PersonType">
																				<xsd:annotation>
																					<xsd:documentation>
																						OT:
																						Person
																						[OT:00000066]
																					</xsd:documentation>
																				</xsd:annotation>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="Einzelgewerbetreibender"
																	minOccurs="0" maxOccurs="1" vplan:oti="">
																	<xsd:annotation>
																		<xsd:documentation>OTI: Einzelgewerbetreibender
																			[?VPlanId?] (OV) Person [OT:00000066]
																		</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element
																				name="Person" minOccurs="0" maxOccurs="unbounded"
																				vplan:ot="OT:00000066" type="vplan:PersonType">
																				<xsd:annotation>
																					<xsd:documentation>
																						OT:
																						Person
																						[OT:00000066]
																					</xsd:documentation>
																				</xsd:annotation>

																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="gesetzliche_Vertreter"
																	minOccurs="0" maxOccurs="1" vplan:oti="">
																	<xsd:annotation>
																		<xsd:documentation>OTI: gesetzliche Vertreter
																			[?VPlanId?] (OV) Person [OT:00000066]
																		</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element
																				name="Person" minOccurs="0" maxOccurs="unbounded"
																				vplan:ot="OT:00000066" type="vplan:PersonType">
																				<xsd:annotation>
																					<xsd:documentation>
																						OT:
																						Person
																						[OT:00000066]
																					</xsd:documentation>
																				</xsd:annotation>

																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="geschäftsführende_Gesellschafter"
																	minOccurs="0" maxOccurs="1" vplan:oti="">
																	<xsd:annotation>
																		<xsd:documentation>OTI: geschäftsführende
																			Gesellschafter [?VPlanId?] (OV) Person [OT:00000066]
																		</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element
																				name="Person" minOccurs="0" maxOccurs="unbounded"
																				vplan:ot="OT:00000066" type="vplan:PersonType">
																				<xsd:annotation>
																					<xsd:documentation>
																						OT:
																						Person
																						[OT:00000066]
																					</xsd:documentation>
																				</xsd:annotation>

																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="Hauptniederlassung"
																	minOccurs="0" maxOccurs="1" vplan:oti="">
																	<xsd:annotation>
																		<xsd:documentation>OTI: Hauptniederlassung [?VPlanId?]
																			(OV) Betriebsstätte [OT:00000174]
																		</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Betriebsstätte"
																				minOccurs="0" maxOccurs="unbounded" vplan:ot="OT:00000174">
																				<xsd:annotation>
																					<xsd:documentation>OT: Betriebsstätte [OT:00000174]
																					</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="Postanschriften"
																							minOccurs="0" maxOccurs="1" vplan:oti="">
																							<xsd:annotation>
																								<xsd:documentation>OTI: Postanschriften
																									[?VPlanId?] (OV) Postanschrift [OT:00000065]
																								</xsd:documentation>
																							</xsd:annotation>
																							<xsd:complexType>
																								<xsd:sequence>
																									<xsd:element name="Postanschrift"
																										minOccurs="0" maxOccurs="unbounded" vplan:ot="OT:00000065">
																										<xsd:annotation>
																											<xsd:documentation>OT: Postanschrift
																												[OT:00000065]
																											</xsd:documentation>
																										</xsd:annotation>
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="Postadresse_Straßename"
																													minOccurs="0" maxOccurs="1" vplan:oti="">
																													<xsd:annotation>
																														<xsd:documentation>OTI: Postadresse
																															Straßename [?VPlanId?]
																														</xsd:documentation>
																													</xsd:annotation>
																												</xsd:element>
																												<xsd:element name="Postadresse_Hausnummer"
																													minOccurs="0" maxOccurs="1" vplan:oti="">
																													<xsd:annotation>
																														<xsd:documentation>OTI: Postadresse
																															Hausnummer [?VPlanId?]
																														</xsd:documentation>
																													</xsd:annotation>
																												</xsd:element>
																												<xsd:element name="Postadresse_Postleitzahl"
																													minOccurs="0" maxOccurs="1" vplan:oti="">
																													<xsd:annotation>
																														<xsd:documentation>OTI: Postadresse
																															Postleitzahl [?VPlanId?]
																														</xsd:documentation>
																													</xsd:annotation>
																												</xsd:element>
																												<xsd:element name="Postadresse_Ort"
																													minOccurs="0" maxOccurs="1" vplan:oti="">
																													<xsd:annotation>
																														<xsd:documentation>OTI: Postadresse Ort
																															[?VPlanId?]
																														</xsd:documentation>
																													</xsd:annotation>
																												</xsd:element>
																												<xsd:element
																													name="Postadresse_Staatenverzeichnis_ID"
																													minOccurs="0" maxOccurs="1" vplan:oti="">
																													<xsd:annotation>
																														<xsd:documentation>OTI: Postadresse
																															Staatenverzeichnis ID [?VPlanId?]
																														</xsd:documentation>
																													</xsd:annotation>
																												</xsd:element>
																												<xsd:element
																													name="Postadresse_Staatenverzeichnis_Verzeichnis_ID"
																													minOccurs="0" maxOccurs="1" vplan:oti="">
																													<xsd:annotation>
																														<xsd:documentation>OTI: Postadresse
																															Staatenverzeichnis Verzeichnis ID
																															[?VPlanId?]
																														</xsd:documentation>
																													</xsd:annotation>
																												</xsd:element>
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																								</xsd:sequence>
																							</xsd:complexType>
																						</xsd:element>
																						<xsd:element name="Kontakte"
																							minOccurs="0" maxOccurs="1" vplan:oti="">
																							<xsd:annotation>
																								<xsd:documentation>OTI: Kontakte [?VPlanId?]
																									(OV) Kontakt [OT:00000064]
																								</xsd:documentation>
																							</xsd:annotation>
																							<xsd:complexType>
																								<xsd:sequence>
																									<xsd:element
																										name="Kontakt" minOccurs="0"
																										maxOccurs="unbounded" vplan:ot="OT:00000064"
																										type="vplan:KontaktType">
																										<xsd:annotation>
																											<xsd:documentation>
																												OT:
																												Kontakt
																												[OT:00000064]
																											</xsd:documentation>
																										</xsd:annotation>

																									</xsd:element>
																								</xsd:sequence>
																							</xsd:complexType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="frühere_Betriebsstätten"
																	minOccurs="0" maxOccurs="1" vplan:oti="">
																	<xsd:annotation>
																		<xsd:documentation>OTI: frühere Betriebsstätten
																			[?VPlanId?] (OV) Betriebsstätte [OT:00000174]
																		</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Betriebsstätte"
																				minOccurs="0" maxOccurs="unbounded" vplan:ot="OT:00000174">
																				<xsd:annotation>
																					<xsd:documentation>OT: Betriebsstätte [OT:00000174]
																					</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="Postanschriften"
																							minOccurs="0" maxOccurs="1" vplan:oti="">
																							<xsd:annotation>
																								<xsd:documentation>OTI: Postanschriften
																									[?VPlanId?] (OV) Postanschrift [OT:00000065]
																								</xsd:documentation>
																							</xsd:annotation>
																							<xsd:complexType>
																								<xsd:sequence>
																									<xsd:element name="Postanschrift"
																										minOccurs="0" maxOccurs="unbounded" vplan:ot="OT:00000065">
																										<xsd:annotation>
																											<xsd:documentation>OT: Postanschrift
																												[OT:00000065]
																											</xsd:documentation>
																										</xsd:annotation>
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="Postadresse_Straßename"
																													minOccurs="0" maxOccurs="1" vplan:oti="">
																													<xsd:annotation>
																														<xsd:documentation>OTI: Postadresse
																															Straßename [?VPlanId?]
																														</xsd:documentation>
																													</xsd:annotation>
																												</xsd:element>
																												<xsd:element name="Postadresse_Hausnummer"
																													minOccurs="0" maxOccurs="1" vplan:oti="">
																													<xsd:annotation>
																														<xsd:documentation>OTI: Postadresse
																															Hausnummer [?VPlanId?]
																														</xsd:documentation>
																													</xsd:annotation>
																												</xsd:element>
																												<xsd:element name="Postadresse_Postleitzahl"
																													minOccurs="0" maxOccurs="1" vplan:oti="">
																													<xsd:annotation>
																														<xsd:documentation>OTI: Postadresse
																															Postleitzahl [?VPlanId?]
																														</xsd:documentation>
																													</xsd:annotation>
																												</xsd:element>
																												<xsd:element name="Postadresse_Ort"
																													minOccurs="0" maxOccurs="1" vplan:oti="">
																													<xsd:annotation>
																														<xsd:documentation>OTI: Postadresse Ort
																															[?VPlanId?]
																														</xsd:documentation>
																													</xsd:annotation>
																												</xsd:element>
																												<xsd:element
																													name="Postadresse_Staatenverzeichnis_ID"
																													minOccurs="0" maxOccurs="1" vplan:oti="">
																													<xsd:annotation>
																														<xsd:documentation>OTI: Postadresse
																															Staatenverzeichnis ID [?VPlanId?]
																														</xsd:documentation>
																													</xsd:annotation>
																												</xsd:element>
																												<xsd:element
																													name="Postadresse_Staatenverzeichnis_Verzeichnis_ID"
																													minOccurs="0" maxOccurs="1" vplan:oti="">
																													<xsd:annotation>
																														<xsd:documentation>OTI: Postadresse
																															Staatenverzeichnis Verzeichnis ID
																															[?VPlanId?]
																														</xsd:documentation>
																													</xsd:annotation>
																												</xsd:element>
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																								</xsd:sequence>
																							</xsd:complexType>
																						</xsd:element>
																						<xsd:element name="Kontakte"
																							minOccurs="0" maxOccurs="1" vplan:oti="">
																							<xsd:annotation>
																								<xsd:documentation>OTI: Kontakte [?VPlanId?]
																									(OV) Kontakt [OT:00000064]
																								</xsd:documentation>
																							</xsd:annotation>
																							<xsd:complexType>
																								<xsd:sequence>
																									<xsd:element
																										name="Kontakt" minOccurs="0"
																										maxOccurs="unbounded" vplan:ot="OT:00000064"
																										type="vplan:KontaktType">
																										<xsd:annotation>
																											<xsd:documentation>
																												OT:
																												Kontakt
																												[OT:00000064]
																											</xsd:documentation>
																										</xsd:annotation>

																									</xsd:element>
																								</xsd:sequence>
																							</xsd:complexType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="künftige_Betriebsstätten"
																	minOccurs="0" maxOccurs="1" vplan:oti="">
																	<xsd:annotation>
																		<xsd:documentation>OTI: künftige Betriebsstätten
																			[?VPlanId?] (OV) Betriebsstätte [OT:00000174]
																		</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Betriebsstätte"
																				minOccurs="0" maxOccurs="unbounded" vplan:ot="OT:00000174">
																				<xsd:annotation>
																					<xsd:documentation>OT: Betriebsstätte [OT:00000174]
																					</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="Postanschriften"
																							minOccurs="0" maxOccurs="1" vplan:oti="">
																							<xsd:annotation>
																								<xsd:documentation>OTI: Postanschriften
																									[?VPlanId?] (OV) Postanschrift [OT:00000065]
																								</xsd:documentation>
																							</xsd:annotation>
																							<xsd:complexType>
																								<xsd:sequence>
																									<xsd:element name="Postanschrift"
																										minOccurs="0" maxOccurs="unbounded" vplan:ot="OT:00000065">
																										<xsd:annotation>
																											<xsd:documentation>OT: Postanschrift
																												[OT:00000065]
																											</xsd:documentation>
																										</xsd:annotation>
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="Postadresse_Straßename"
																													minOccurs="0" maxOccurs="1" vplan:oti="">
																													<xsd:annotation>
																														<xsd:documentation>OTI: Postadresse
																															Straßename [?VPlanId?]
																														</xsd:documentation>
																													</xsd:annotation>
																												</xsd:element>
																												<xsd:element name="Postadresse_Hausnummer"
																													minOccurs="0" maxOccurs="1" vplan:oti="">
																													<xsd:annotation>
																														<xsd:documentation>OTI: Postadresse
																															Hausnummer [?VPlanId?]
																														</xsd:documentation>
																													</xsd:annotation>
																												</xsd:element>
																												<xsd:element name="Postadresse_Postleitzahl"
																													minOccurs="0" maxOccurs="1" vplan:oti="">
																													<xsd:annotation>
																														<xsd:documentation>OTI: Postadresse
																															Postleitzahl [?VPlanId?]
																														</xsd:documentation>
																													</xsd:annotation>
																												</xsd:element>
																												<xsd:element name="Postadresse_Ort"
																													minOccurs="0" maxOccurs="1" vplan:oti="">
																													<xsd:annotation>
																														<xsd:documentation>OTI: Postadresse Ort
																															[?VPlanId?]
																														</xsd:documentation>
																													</xsd:annotation>
																												</xsd:element>
																												<xsd:element
																													name="Postadresse_Staatenverzeichnis_ID"
																													minOccurs="0" maxOccurs="1" vplan:oti="">
																													<xsd:annotation>
																														<xsd:documentation>OTI: Postadresse
																															Staatenverzeichnis ID [?VPlanId?]
																														</xsd:documentation>
																													</xsd:annotation>
																												</xsd:element>
																												<xsd:element
																													name="Postadresse_Staatenverzeichnis_Verzeichnis_ID"
																													minOccurs="0" maxOccurs="1" vplan:oti="">
																													<xsd:annotation>
																														<xsd:documentation>OTI: Postadresse
																															Staatenverzeichnis Verzeichnis ID
																															[?VPlanId?]
																														</xsd:documentation>
																													</xsd:annotation>
																												</xsd:element>
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																								</xsd:sequence>
																							</xsd:complexType>
																						</xsd:element>
																						<xsd:element name="Kontakte"
																							minOccurs="0" maxOccurs="1" vplan:oti="">
																							<xsd:annotation>
																								<xsd:documentation>OTI: Kontakte [?VPlanId?]
																									(OV) Kontakt [OT:00000064]
																								</xsd:documentation>
																							</xsd:annotation>
																							<xsd:complexType>
																								<xsd:sequence>
																									<xsd:element
																										name="Kontakt" minOccurs="0"
																										maxOccurs="unbounded" vplan:ot="OT:00000064"
																										type="vplan:KontaktType">
																										<xsd:annotation>
																											<xsd:documentation>
																												OT:
																												Kontakt
																												[OT:00000064]
																											</xsd:documentation>
																										</xsd:annotation>

																									</xsd:element>
																								</xsd:sequence>
																							</xsd:complexType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="früherer_Gewerbebetrieb"
																	minOccurs="0" maxOccurs="1" vplan:oti="">
																	<xsd:annotation>
																		<xsd:documentation>OTI: früherer Gewerbebetrieb
																			[?VPlanId?] (OV) Gewerbebetrieb [OT:00000070]
																		</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Gewerbebetrieb"
																				minOccurs="0" maxOccurs="unbounded" vplan:ot="OT:00000070">
																				<xsd:annotation>
																					<xsd:documentation>OT: Gewerbebetrieb [OT:00000070]
																					</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="Name" minOccurs="0"
																							maxOccurs="1" vplan:oti="">
																							<xsd:annotation>
																								<xsd:documentation>OTI: Name [?VPlanId?]
																								</xsd:documentation>
																							</xsd:annotation>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="künftiger_Gewerbebetrieb"
																	minOccurs="0" maxOccurs="1" vplan:oti="">
																	<xsd:annotation>
																		<xsd:documentation>OTI: künftiger Gewerbebetrieb
																			[?VPlanId?] (OV) Gewerbebetrieb [OT:00000070]
																		</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Gewerbebetrieb"
																				minOccurs="0" maxOccurs="unbounded" vplan:ot="OT:00000070">
																				<xsd:annotation>
																					<xsd:documentation>OT: Gewerbebetrieb [OT:00000070]
																					</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="Name" minOccurs="0"
																							maxOccurs="1" vplan:oti="">
																							<xsd:annotation>
																								<xsd:documentation>OTI: Name [?VPlanId?]
																								</xsd:documentation>
																							</xsd:annotation>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PersonType">
		<xsd:sequence>
			<xsd:element name="Kennung" minOccurs="0" maxOccurs="1" type="xsd:anyType"></xsd:element>
			<xsd:element minOccurs="0" maxOccurs="1" name="Kontakte">
				<xsd:annotation></xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="unbounded"
							name="Kontakt" type="vplan:KontaktType">
							<xsd:annotation></xsd:annotation>

						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element minOccurs="0" maxOccurs="1"
				name="Anredeverzeichnis_ID" type="xsd:anyType">
				<xsd:annotation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" maxOccurs="1"
				name="Anredeverzeichnis_Verzeichnis_ID" type="xsd:anyType">
				<xsd:annotation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" maxOccurs="1" name="Vorname"
				type="xsd:anyType">
				<xsd:annotation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" maxOccurs="1" name="Nachname"
				type="xsd:anyType">
				<xsd:annotation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" maxOccurs="1" name="Geburtsname"
				type="xsd:anyType">
				<xsd:annotation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" maxOccurs="1" name="Geschlecht"
				type="xsd:anyType">
				<xsd:annotation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" maxOccurs="1" name="Geburtsort"
				type="xsd:anyType">
				<xsd:annotation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" maxOccurs="1" name="Geburtsland"
				type="xsd:anyType">
				<xsd:annotation></xsd:annotation>
			</xsd:element>
			<xsd:element name="Geburtsdatum" type="xsd:anyType"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element minOccurs="0" maxOccurs="1"
				name="Staatsangehörigkeitsverzeichnis_ID" type="xsd:anyType">
				<xsd:annotation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" maxOccurs="1"
				name="Staatsangehörigkeitsverzeichnis_Verzeichnis_ID"
				type="xsd:anyType">
				<xsd:annotation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" maxOccurs="1"
				name="Postanschriften">
				<xsd:annotation></xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="unbounded"
							name="Postanschrift">
							<xsd:annotation></xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element minOccurs="0"
										maxOccurs="1" name="Postadresse_Straßename"
										type="xsd:anyType">
										<xsd:annotation></xsd:annotation>
									</xsd:element>
									<xsd:element minOccurs="0"
										maxOccurs="1" name="Postadresse_Hausnummer"
										type="xsd:anyType">
										<xsd:annotation></xsd:annotation>
									</xsd:element>
									<xsd:element minOccurs="0"
										maxOccurs="1" name="Postadresse_Postleitzahl"
										type="xsd:anyType">
										<xsd:annotation></xsd:annotation>
									</xsd:element>
									<xsd:element minOccurs="0"
										maxOccurs="1" name="Postadresse_Ort" type="xsd:anyType">
										<xsd:annotation></xsd:annotation>
									</xsd:element>
									<xsd:element minOccurs="0"
										maxOccurs="1" name="Postadresse_Staatenverzeichnis_ID"
										type="xsd:anyType">
										<xsd:annotation></xsd:annotation>
									</xsd:element>
									<xsd:element minOccurs="0"
										maxOccurs="1"
										name="Postadresse_Staatenverzeichnis_Verzeichnis_ID"
										type="xsd:anyType">
										<xsd:annotation></xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Registereinträge" maxOccurs="1"
				minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Registereintrag"
							maxOccurs="unbounded" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Nummer"
										maxOccurs="1" minOccurs="0">
									</xsd:element>
									<xsd:element
										name="Auflagen_Beschränkungen" maxOccurs="1" minOccurs="0">
									</xsd:element>
									<xsd:element
										name="Gültigkeitsbeginndatum" maxOccurs="1" minOccurs="0">
									</xsd:element>
									<xsd:element name="Genehmigungsstatus_gemeldet"
										maxOccurs="1" minOccurs="0">
									</xsd:element>									
									<xsd:element name="Register"
										maxOccurs="1" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element
													name="Register" maxOccurs="unbounded" minOccurs="0">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element
																name="Typ" maxOccurs="1" minOccurs="0">
															</xsd:element>
															<xsd:element
																name="Name" maxOccurs="1" minOccurs="0">
															</xsd:element>
															<xsd:element
																name="Ort" maxOccurs="1" minOccurs="0">
															</xsd:element>
															<xsd:element
																name="Bezeichnung" maxOccurs="1" minOccurs="0">
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="KontaktType">
		<xsd:sequence>
			<xsd:element minOccurs="0" maxOccurs="1"
				name="Telefonnummern_ohne_Vorwahl" type="xsd:anyType">
				<xsd:annotation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" maxOccurs="1"
				name="Faxnummern_ohne_Vorwahl" type="xsd:anyType">
				<xsd:annotation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" maxOccurs="1"
				name="E-Mail-Adressen" type="xsd:anyType">
				<xsd:annotation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" maxOccurs="1" name="Webseiten"
				type="xsd:anyType">
				<xsd:annotation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" maxOccurs="1"
				name="Telefonnummern_Vorwahl" type="xsd:anyType">
				<xsd:annotation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" maxOccurs="1"
				name="Faxnummern_Vorwahl" type="xsd:anyType">
				<xsd:annotation></xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GewerbebetriebType">
		<xsd:sequence>
			<xsd:element name="Name_ohne_Rechtsform"
				minOccurs="0" maxOccurs="1" vplan:oti="">
				<xsd:annotation>
					<xsd:documentation>OTI: Name ohne Rechtsform
						[?VPlanId?]
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element
				name="Anzahl_der_Geschäftsführer_der_Personengesellschaft"
				minOccurs="0" maxOccurs="1" vplan:oti="">
				<xsd:annotation>
					<xsd:documentation>OTI: Anzahl der
						Geschäftsführer der Personengesellschaft
						[?VPlanId?]
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element
				name="Anzahl_der_gesetzlichen_Vertreter_der_juristischen_Person"
				minOccurs="0" maxOccurs="1" vplan:oti="">
				<xsd:annotation>
					<xsd:documentation>OTI: Anzahl der gesetzlichen
						Vertreter der juristischen Person [?VPlanId?]
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Rechtsformverzeichnis_ID"
				minOccurs="0" maxOccurs="1" vplan:oti="">
				<xsd:annotation>
					<xsd:documentation>OTI: Rechtsformverzeichnis ID
						[?VPlanId?]
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element
				name="Rechtsformverzeichnis_Verzeichnis_ID"
				minOccurs="0" maxOccurs="1" vplan:oti="">
				<xsd:annotation>
					<xsd:documentation>OTI: Rechtsformverzeichnis
						Verzeichnis ID [?VPlanId?]
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Art_der_Betriebs"
				minOccurs="0" maxOccurs="1" vplan:oti="">
				<xsd:annotation>
					<xsd:documentation>OTI: Art der Betriebs
						[?VPlanId?]
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Beschäftigte_Vollzeit"
				minOccurs="0" maxOccurs="1" vplan:oti="">
				<xsd:annotation>
					<xsd:documentation>OTI: Beschäftigte Vollzeit
						[?VPlanId?]
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Beschäftigte_Teilzeit"
				minOccurs="0" maxOccurs="1" vplan:oti="">
				<xsd:annotation>
					<xsd:documentation>OTI: Beschäftigte Teilzeit
						[?VPlanId?]
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Beschäftigte"
				minOccurs="0" maxOccurs="1" vplan:oti="">
				<xsd:annotation>
					<xsd:documentation>OTI: Beschäftigte [?VPlanId?]
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Art_der_Niederlassung"
				minOccurs="0" maxOccurs="1" vplan:oti="">
				<xsd:annotation>
					<xsd:documentation>OTI: Art der Niederlassung
						[?VPlanId?]
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gemeldete_Gewerbetätigkeit_Beginn"
				minOccurs="0" maxOccurs="1" vplan:oti="">
				<xsd:annotation>
					<xsd:documentation>OTI: gemeldete
						Gewerbetätigkeit Beginn [?VPlanId?]
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element
				name="gemeldete_Tätigkeiten_Registereinträge"
				minOccurs="0" maxOccurs="1" vplan:oti="">
				<xsd:annotation>
					<xsd:documentation>OTI: gemeldete Tätigkeiten
						Registereinträge [?VPlanId?] (OV)
						Registereintrag [?VPlanId?]
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Registereintrag"
							minOccurs="0" maxOccurs="unbounded" vplan:ot="">
							<xsd:annotation>
								<xsd:documentation>OT: Registereintrag
									[?VPlanId?]
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element
										name="Gemeldete_Tätigkeit_Bezeichnung"
										minOccurs="0" maxOccurs="1" vplan:oti="">
										<xsd:annotation>
											<xsd:documentation>OTI: Gemeldete
												Tätigkeit Bezeichnung [?VPlanId?]
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element
										name="Gemeldete_Tätigkeit_Schlüsselverzeichnis_ID"
										minOccurs="0" maxOccurs="1" vplan:oti="">
										<xsd:annotation>
											<xsd:documentation>OTI: Gemeldete
												Tätigkeit Schlüsselverzeichnis ID
												[?VPlanId?]
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element
										name="Gemeldete_Tätigkeit_Schlüsselverzeichnis_Verzeichnis_ID"
										minOccurs="0" maxOccurs="1" vplan:oti="">
										<xsd:annotation>
											<xsd:documentation>OTI: Gemeldete
												Tätigkeit Schlüsselverzeichnis
												Verzeichnis ID [?VPlanId?]
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element
										name="Gemeldete_Tätigkeit_Nebenerwerb"
										minOccurs="0" maxOccurs="1" vplan:oti="">
										<xsd:annotation>
											<xsd:documentation>OTI: Gemeldete
												Tätigkeit Nebenerwerb [?VPlanId?]
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="Gemeldete_Tätigkeit_Beginn"
										minOccurs="0" maxOccurs="1" vplan:oti="">
										<xsd:annotation>
											<xsd:documentation>OTI: Gemeldete
												Tätigkeit Beginn [?VPlanId?]
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element
										name="Gemeldete_Tätigkeit_Schwerpunkt"
										minOccurs="0" maxOccurs="1" vplan:oti="">
										<xsd:annotation>
											<xsd:documentation>OTI: Gemeldete
												Tätigkeit Schwerpunkt [?VPlanId?]
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="Gemeldete_Tätigkeit_Status"
										maxOccurs="1" minOccurs="0">
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Anmeldegrund"
				minOccurs="0" maxOccurs="1" vplan:oti="">
				<xsd:annotation>
					<xsd:documentation>OTI: Anmeldegrund [?VPlanId?]
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Änderungsgrund"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Abmeldegrund"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Grund_für_Gewerbeaufgabe"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Registereinträge"
				maxOccurs="1" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Registereintrag"
							maxOccurs="unbounded" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Nummer"
										maxOccurs="1" minOccurs="0">
									</xsd:element>
									<xsd:element name="Auflagen_Beschränkungen"
										maxOccurs="1" minOccurs="0">
									</xsd:element>
									<xsd:element name="Genehmigungsstatus_gemeldet"
										maxOccurs="1" minOccurs="0">
									</xsd:element>
									<xsd:element name="Gültigkeitsbeginndatum"
										maxOccurs="1" minOccurs="0">
									</xsd:element>
									<xsd:element name="Register"
										maxOccurs="1" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="Register"
													maxOccurs="unbounded" minOccurs="0">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="Typ"
																maxOccurs="1" minOccurs="0">
															</xsd:element>
															<xsd:element name="Name"
																maxOccurs="1" minOccurs="0">
															</xsd:element>
															<xsd:element name="Ort"
																maxOccurs="1" minOccurs="0">
															</xsd:element>
															<xsd:element name="Bezeichnung"
																maxOccurs="1" minOccurs="0">
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Ist_Automatenaufstellungsgewerbe"
				minOccurs="0" maxOccurs="1" vplan:oti="">
				<xsd:annotation>
					<xsd:documentation>
						OTI: Ist
						Automatenaufstellungsgewerbe
						[?VPlanId?]
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sonstige_Betriebsart"
				minOccurs="0" maxOccurs="1" vplan:oti="">
				<xsd:annotation>
					<xsd:documentation>
						OTI: sonstige
						Betriebsart
						[?VPlanId?]
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Ist_Reisegewerbe"
				minOccurs="0" maxOccurs="1" vplan:oti="">
				<xsd:annotation>
					<xsd:documentation>
						OTI: Ist
						Reisegewerbe
						[?VPlanId?]
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Ist_Gaststätte"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>